[2014-05-29 04:38] badtzmaru opened #1 "Fix view reports"
Make the view reports page work before the end of the year

[2014-05-29 04:43] badtzmaru opened #2 "Edit events page"
a page for editing, deleting, and adding events for individual students that can only be accessed by admins.

[2014-05-29 04:45] badtzmaru opened #3 "Sensible form validation"
need some sensible display for form errors.

[2014-05-29 04:50] badtzmaru opened #7 "calculate mid-year enrollment times"
pro-rate a mid-year enrolled student’s offsite time based on studentdata.startdate

[2014-05-29 04:51] badtzmaru opened #8 "tab order"
some sensible handling of tab order. js?

[2014-05-29 04:52] badtzmaru opened #9 "use cookies for login info"
set logins to timeout only after a long time using cookies, should be fairly easy.

[2014-05-29 04:53] badtzmaru opened #10 "Search though names"
use javascript to make an auto-updating table based on a text box auto-search

[2014-05-29 04:55] badtzmaru opened #11 "Fix form resubmission"
if you hit refresh the form auto-resubmits

[2014-05-30 18:53] badtzmaru opened #15 "do not let people sign out to different statuses on non-school days"

[2015-01-09 19:36] #1 closed

[2015-01-09 19:36] #2 closed

[2015-01-09 19:36] #3 closed

[2015-01-09 19:36] #7 closed

[2015-01-09 19:36] #8 closed

[2015-01-09 19:36] #9 closed

[2015-01-09 19:36] #10 closed

[2015-01-09 19:36] #11 closed

[2015-01-09 19:36] #15 closed

[2015-02-03 18:23] nwarmenh opened #17 "New student Aidan got 144 offsite hours"
Expected behavior is for mid-year-enrolled students to have their initial allocation of offsite time be calculated/prorated using their start date.

Aidan appears to have been assigned 144 hours (a full year's worth).

A kludge is to edit allotted hours for (currently-unused) 8th-year students to the (manually calculated) appropriate allotment for Aidan, then set him to be an 8th-year student.  Bu

[2015-02-03 18:36] Appleguy15 commented on #17
I don't anyone has made the mid year student function.

[2015-02-03 18:42] nwarmenh commented on #17
Yes, I know.  I'm putting this in to the Github "issues" format so that we can practice using it.  Someone can assign this issue to themselves (as in, "I will take on fixing this").

[2015-02-03 23:36] nwarmenh opened #18 "Add context-specific "Check Out" button next to student names"
I think we've all talked about this one.  It would have been particularly useful in the last couple of days, when checkout ended at 3:25 or so.

Pretty simple concept: between 3:20 and 3:30, make a "CO"(?) button appear in the column next to users' names.  One-click checkout.

Another idea would be to add a css class to the page for pageloads between 3:30 and (say) 3:35, such that the page backgro

[2015-02-03 23:50] badtzmaru commented on #18
I think that the CSS indicator is the way to go.

[2015-02-03 23:51] Appleguy15 commented on #18
I can make a beta version of that tonight.

[2015-02-03 23:52] nwarmenh commented on #18
To be clear, I'm hoping for both the button *and* the styled CSS class.

On Tue, Feb 3, 2015 at 3:51 PM, Appleguy15 <notifications@github.com> wrote:

--
Nic Warmenhoven | Teaching Staff

Puget Sound Community School
660 South Dearborn Street
Seattle, WA 98134

phone | 206.324.4350
web | www.pscs.org

[2015-02-03 23:53] Appleguy15 commented on #18
Yep

[2015-02-03 23:56] badtzmaru commented on #18
Oh alright. I was kinda thinking that a button that said co would be
confusing. Maybe just 'c' ?
On Feb 3, 2015 3:53 PM, "Nic Warmenhoven" <notifications@github.com> wrote:

[2015-02-03 23:58] Appleguy15 commented on #18
I think CO is better than C. I could make it say Checked Out if you hover over it.

[2015-02-03 23:58] nwarmenh commented on #18
Or "Check Out," if there's room?

On Tue, Feb 3, 2015 at 3:56 PM, Badtz Maru <notifications@github.com> wrote:

--
Nic Warmenhoven | Teaching Staff

Puget Sound Community School
660 South Dearborn Street
Seattle, WA 98134

phone | 206.324.4350
web | www.pscs.org

[2015-02-03 23:59] Appleguy15 commented on #18
Yah b/c there shouldn't be any other buttons there.

[2015-02-04 01:00] nwarmenh commented on #18
To do this the right way, you wouldn't code any hard references to times, but instead declare everything relative to globals.endtime.  (Credit to Milo for this idea, from the bugs Google Doc.)

[2015-02-04 01:01] Appleguy15 commented on #18
Ok

[2015-02-04 01:02] Appleguy15 commented on #18
@nwarmenh I need to hard code 3:25 so that it has a reference.

[2015-02-04 01:42] Appleguy15 commented on #18
Oh wait never mind. I get what your saying

[2015-02-04 06:19] nwarmenh commented on #18
Why not just globals.endtime minus five minutes?

On Tue, Feb 3, 2015 at 5:02 PM, Appleguy15 <notifications@github.com> wrote:

--
Nic Warmenhoven | Teaching Staff

Puget Sound Community School
660 South Dearborn Street
Seattle, WA 98134

phone | 206.324.4350
web | www.pscs.org

[2015-02-05 19:49] Appleguy15 opened #20 "“reactivate student” button does work on production server"

[2015-02-05 19:50] Appleguy15 opened #21 "Prev URL for login is temp disabled, make previous url work after login"

[2015-02-05 19:51] Appleguy15 opened #22 "encrypt [‘login’] cookie"

[2015-02-05 19:52] Appleguy15 opened #23 "global css file"
Make a global css file that works for all pages.

[2015-02-05 19:53] Appleguy15 opened #24 "contextual coloring on attendance page"
contextual coloring change on main page: if a student hasn’t returned by the time they said they would, make their line turn red (or something less dramatic)

[2015-02-05 19:55] Appleguy15 opened #25 "Fix present buttons on main page for branch "updated css""
The "P" buttons do not if student does not have prev event.

[2015-02-05 19:57] Appleguy15 opened #26 "make stats view look nice"
When you navigate to statusview.php the columns need styling.

[2015-02-05 19:59] Appleguy15 opened #27 "Change offsite based on student startdate"
mid-year enrolled student’s offsite time based on studentdata.startdate

[2015-02-05 20:01] Appleguy15 opened #28 "Validate time & date inputs on all pages"
Validate time inputs to not allow times outside of 9:00 to 3:30.  Not allow return times prior to the current time? make calendar check against valid school days?

[2015-02-05 20:03] Appleguy15 opened #29 "make edit_events"

[2015-02-05 20:03] Appleguy15 opened #30 "make datepicker/timepickers site-wide (including on edit globals)"

[2015-02-05 20:04] Appleguy15 opened #31 "View reports: Sort by status? Limit by date range?"

[2015-02-05 20:05] Appleguy15 opened #32 "view reports: break visually by day?"

[2015-02-05 20:25] Appleguy15 opened #33 "Make tooltip that shows offsite per day"

[2015-02-05 20:59] badtzmaru opened #34 "css for ribbon on main page does not use percentages"
![issue](https://cloud.githubusercontent.com/assets/6172936/6069138/c2d3e488-ad36-11e4-825b-25b7d272e4bd.PNG)

[2015-02-05 22:06] riverehill commented on #33
what do you mean by this?

[2015-02-05 22:06] riverehill commented on #33
like on the main attendance page?

[2015-02-05 22:11] Appleguy15 commented on #33
Yes like Red/Green/Yellow thing depending on how much offsite you have left.

[2015-02-05 22:13] riverehill commented on #33
I'll look into it but I feel like most people wouldn't want their offsite shown on the main page for everyone to see.

[2015-02-05 23:01] badtzmaru opened #35 "add a way to manually change a student's remaining offsite, as in the case of the staff wanting to change how much a student has left without deleting events"

[2015-02-05 23:04] nwarmenh commented on #27
This is the same as #17!  Suggest we merge them or resolve one.

[2015-02-05 23:08] nwarmenh commented on #33
How about coloring the background of the single user interface?  Shades from dark green (you're in good shape) to dark red (you're in trouble)?

[2015-02-05 23:08] Appleguy15 commented on #33
Interesting.

[2015-02-05 23:13] Appleguy15 opened #36 "admin page looks bad on Safari browser"

[2015-02-05 23:36] #18 closed

[2015-02-06 05:43] riverehill opened #37 "Clicking on view report from single user page leads to an empty page."
If you click your name on the dropdown  then click submit then it will work.
![screenshot_10](https://cloud.githubusercontent.com/assets/10405269/6075063/f9076838-ad7f-11e4-9073-bb17705e3cc1.png)

.

[2015-02-06 05:45] Appleguy15 commented on #37
This can be fixed by using the GET. I can work on it tomorrow.

[2015-02-06 16:59] #36 closed

[2015-02-06 17:26] riverehill opened #39 "would-you-look-at-that branch present/absent/late all do present"
do it

[2015-02-06 19:19] nwarmenh commented on #39
Is this issue the same as #25?

[2015-02-06 19:20] #39 closed

[2015-02-06 19:21] Appleguy15 commented on #39
Yes

[2015-02-06 19:23] nwarmenh opened #40 "events.returntime stores values as both 12h and 24h"
In case we ever want to write the function that compares actual return time to predicted return time ("You said you'd be back at 12:05 but you didn't actually come back until 12:15!"), we should standardize how this field gets populated... probably by making it all 24h?  (I.e., 1:30pm gets stored as 13:30, not 01:30.)

Perhaps related to/fixable by issue #30.

[2015-02-06 19:24] nwarmenh commented on #31
+1 for sort by status.  Staff has requested this.

[2015-02-06 19:28] nwarmenh commented on #29
@riverehill: Staff has requested that the shading of the table rows on edit_events more closely resemble the shading on View Reports (no alternating, custom colors for different status types).  Can you make this happen on the edit_events branch?

Ideally (for staff), there would be visual delineation by day/week (as requested in #32), but that's a bigger project that will involve some PHPing, so I

[2015-02-06 20:02] Appleguy15 commented on #37
We are ready to push to production

[2015-02-06 22:56] nwarmenh commented on #30
call globals.starttime and globals.endtime to configure start and end times/dates

[2015-02-06 23:05] Appleguy15 opened #44 "View Reports & Edit event student do not have last initial"

[2015-02-06 23:08] Appleguy15 opened #45 "Staff side form valiation"

[2015-02-09 16:28] nwarmenh opened #46 "Create and add favicon"
Should be a quick one...

[2015-02-09 16:40] Appleguy15 commented on #46
Do you want it to be the PSCS logo?

[2015-02-09 16:41] Appleguy15 commented on #46
Or a new one

[2015-02-09 17:21] badtzmaru opened #47 "make statistics (graphs etc)"

[2015-02-09 17:31] nwarmenh commented on #45
Can you explain what you mean here?

[2015-02-09 17:32] badtzmaru commented on #25
turns out we just needed close form tags

[2015-02-09 17:32] #25 closed

[2015-02-09 17:34] badtzmaru commented on #45
we need date and time validation for input fields. In edit events, some fields can be blank.

[2015-02-09 17:38] badtzmaru commented on #35
right now we do not need this

[2015-02-09 17:38] #35 closed

[2015-02-09 17:41] nwarmenh commented on #37
This is the same as pull req #38. Trying to link them.

[2015-02-09 17:43] #37 closed

[2015-02-09 19:07] #44 closed

[2015-02-10 19:51] #29 closed

[2015-02-10 19:57] Appleguy15 commented on #33
We could use tooltips?

[2015-02-10 20:00] riverehill commented on #33
I don't know how to do the offsite stuff but I could maybe get the tooltips to show up. using jQuery :+1:

[2015-02-10 20:01] Appleguy15 commented on #33
Milo said he could make a function. 💩

[2015-02-10 20:02] nwarmenh commented on #33
Love it.

On Tue, Feb 10, 2015 at 11:57 AM, Anthony Reyes <notifications@github.com>
wrote:

--
Nic Warmenhoven | Teaching Staff

Puget Sound Community School
660 South Dearborn Street
Seattle, WA 98134

phone | 206.324.4350
web | www.pscs.org

[2015-02-10 22:08] badtzmaru opened #52 "Preplan fieldtrips"

[2015-02-10 22:09] badtzmaru opened #53 "Pre plan multiple days"

[2015-02-10 22:09] badtzmaru opened #54 "Groups GUI for main page"

[2015-02-10 22:10] badtzmaru opened #55 "Multiple check box select"

[2015-02-10 22:11] badtzmaru opened #56 "Undo button?"
Is this even possible?

[2015-02-10 22:15] badtzmaru opened #57 "View reports visual off site"

[2015-02-10 22:17] badtzmaru opened #58 "Full days of off site left display"

[2015-02-10 22:18] badtzmaru opened #59 "View reports percentage of year and off site left"

[2015-02-11 01:13] Appleguy15 commented on #53
What does this mean?

[2015-02-11 04:30] badtzmaru commented on #52
i can fix this quite easily... i remember writing the code to make this not work in the first place

[2015-02-11 04:33] badtzmaru opened #60 "fix form resubmission on main page"

[2015-02-11 04:34] badtzmaru commented on #59
50% through school year and %60 through offsite

[2015-02-11 04:36] badtzmaru commented on #57
i think that this issue is covered in a few other ones

[2015-02-11 04:36] #57 closed

[2015-02-11 04:39] badtzmaru commented on #54
anthony mentioned maybe having the gui for this slide out from the right with js

[2015-02-11 04:39] Appleguy15 commented on #52
You will need to make something that sets start time and end time.
There is currently only start time.

[2015-02-11 04:41] badtzmaru commented on #52
i will assume that if they preplan it, it starts at the start of the school day. Thats why people needed this in the first place.

[2015-02-11 04:42] badtzmaru commented on #52
also, i am planning to write code for multiple days, see #53

[2015-02-11 04:43] Appleguy15 commented on #52
Ahh cool. :+1:

[2015-02-12 16:33] #59 closed

[2015-02-12 16:34] #17 closed

[2015-02-12 16:39] #27 closed

[2015-02-12 22:41] #52 closed

[2015-02-13 02:35] Appleguy15 opened #64 "Make a header.html file to include into all files"
Nic mentioned this in the last coding class.

[2015-02-13 16:37] Appleguy15 commented on #56
Does anyone really want this?
Or can you just tell a staff member and use edit_events.php

[2015-02-13 17:33] #46 closed

[2015-02-13 17:39] #60 closed

[2015-02-13 17:41] nwarmenh commented on #26
FWIW I don't have a problem with how it looks.  But if you want to ask the users what they want, I'd check with Sam and Andy first -- they use it the most.

[2015-02-13 17:43] nwarmenh commented on #24
This is really more about doing the calculation between events.returntime and the current time.  Will probably need to get #40 wrapped up before this is possible.

[2015-02-13 18:57] #23 closed

[2015-02-13 18:58] riverehill commented on #26
done

[2015-02-13 18:58] #26 closed

[2015-02-13 19:26] Appleguy15 commented on #20
There is a problem with reactivating using IDs.
When I use studentdata.firstname it worked.

[2015-02-13 19:29] riverehill commented on #34
I've been looking into this and not really finding any solutions other than renaming things like status view to Status and View Reports to just Reports, which doesn't fully solve the issue. But I'll keep looking.

[2015-02-13 19:41] Appleguy15 opened #69 "Make max char for offsite location"

[2015-02-14 05:27] eastonkugler opened #71 "Nic, fix your profile picture"

[2015-02-14 05:28] #71 closed

[2015-02-14 06:11] badtzmaru opened #73 "only allow valid dates to be pre-planned"

[2015-02-14 06:20] badtzmaru commented on #73
i could probably write this if i changed the order of functions. i need the validdate function in the plan function but they are in the wrong order.

[2015-02-14 06:51] Appleguy15 commented on #73
I this #28 will fix this

[2015-02-14 08:52] eastonkugler commented on #71
im almost done with groups
almost

[2015-02-14 17:12] badtzmaru commented on #56
we cant give the students the power to delete events

[2015-02-14 17:12] #56 closed

[2015-02-14 17:32] Appleguy15 commented on #56
No I'm saying the staff member could use edit events to undo the mistake.

[2015-02-14 17:34] badtzmaru commented on #56
Ik
On Feb 14, 2015 9:32 AM, "Anthony Reyes" <notifications@github.com> wrote:

[2015-02-14 18:30] #22 closed

[2015-02-14 18:56] eastonkugler commented on #54
its done now its done

[2015-02-14 18:56] #54 closed

[2015-02-14 19:23] badtzmaru opened #74 "mercer island css broke the not checked in and late buttons on pc and phone"
![1cef9ae657e67e37c6c51dde25ee1935218da7091f969db1f4 pimgpsh_thumbnail_win_distr](https://cloud.githubusercontent.com/assets/6172936/6200780/e4551b20-b43b-11e4-8cf4-3b313ae94122.jpg)
![i hat3](https://cloud.githubusercontent.com/assets/6172936/6200781/e45637c6-b43b-11e4-9240-869674693fac.PNG)

[2015-02-15 17:38] riverehill commented on #74
Classic Windows. Alright I'll fix it.

[2015-02-16 03:20] #64 closed

[2015-02-17 21:08] Appleguy15 commented on #20
Fixed just need to pull from production

[2015-02-18 15:30] nwarmenh commented on #20
Pull from production?

I assume you built this in a hidden directory on production.  What's the
link so I can test it?

On Tue, Feb 17, 2015 at 1:08 PM, Anthony Reyes <notifications@github.com>
wrote:

--
Nic Warmenhoven | Teaching Staff

Puget Sound Community School
660 South Dearborn Street
Seattle, WA 98134

phone | 206.324.4350
web | www.pscs.org

[2015-02-18 15:51] Appleguy15 commented on #20
It is the /secret directory.

[2015-02-18 17:28] badtzmaru commented on #69
this will close when #77 is merged

[2015-02-18 19:32] Appleguy15 opened #78 "Add css to pre planned events (get css from fave)"

[2015-02-18 19:48] Appleguy15 opened #80 "Nic do pull requests!!!"
@nwarmenh
@badtzmaru and I are in pain. :(
![screen shot 2015-02-18 at 11 47 02 am](https://cloud.githubusercontent.com/assets/6172938/6255318/0eb7da4e-b764-11e4-96da-4afeefbc9c54.png)

[2015-02-18 23:36] #80 closed

[2015-02-19 02:39] Appleguy15 commented on #78
This is the issue for #81

[2015-02-19 03:31] Appleguy15 commented on #21
We don't use sessions anymore.
Close #21

[2015-02-19 03:31] #21 closed

[2015-02-19 17:25] #74 closed

[2015-02-19 22:30] #53 closed

[2015-02-19 23:03] badtzmaru opened #86 "make edit groups admin page"

[2015-02-20 16:46] badtzmaru opened #87 "half size timepickers"

[2015-02-20 20:48] Appleguy15 commented on #87
#88

[2015-02-20 20:49] badtzmaru commented on #73
i also think #30 will fix this

[2015-02-20 20:50] badtzmaru commented on #28
reminds me of #30

[2015-02-20 20:54] Appleguy15 opened #89 "Make global css file (Currently None) (Use Attendance.css)"

[2015-02-20 21:02] #69 closed

[2015-02-20 21:06] #58 closed

[2015-02-22 03:04] Appleguy15 opened #90 "Make groups GUI on main attendance page"

[2015-02-23 16:23] Appleguy15 commented on #90
@riverehill Can I take this over?

[2015-02-23 17:27] riverehill commented on #89
lol no

[2015-02-23 17:27] #89 closed

[2015-02-23 17:27] nwarmenh opened #93 "Positive feedback needed on admin pages"
"Student password successfully updated", for example on passwords panel?  (After you submit a new password.)

[2015-02-23 17:55] nwarmenh opened #94 "Offsite location dropdown has disappeared"
Something to do with id='offloc' in appropriate <input> in top buttons on index.php?

[2015-02-23 17:57] #87 closed

[2015-02-23 17:59] nwarmenh commented on #55
What is this?  Is this @eastonkugler's groups functionality?  Or is it a "select all"/"select none" button?

[How do I forbid issues from being posted without descriptions?]

[2015-02-23 18:01] badtzmaru commented on #55
the click one box, hold shift, click another, select all inbetween

[2015-02-23 18:33] nwarmenh commented on #55
This seems like a job for @riverehill then, since he's our local javascript guru.  River, wanna look into this?

[2015-02-23 19:26] riverehill commented on #34
Added media query, so you can rescale to around 1,000 px without it messing up :+1:

[2015-02-23 19:26] #34 closed

[2015-02-23 19:35] #90 closed

[2015-02-23 19:42] nwarmenh commented on #20
But why doesn't the user's name appear in the list without a *second* reload?

[2015-02-23 19:44] nwarmenh commented on #93
Frankly, there should be a review of *all* pages that need some kind of feedback after user input.

[2015-02-23 19:47] nwarmenh commented on #20
Ok to pull/merge/push now.  TODO

[2015-02-23 20:15] nwarmenh opened #96 "Leaderboards"
Andy periodically goes through each student's reports to find out all of the students who are using their offsite at an unsustainable rate.

Not a high priority, but if there were an easy way to just generate a list of all the students and their percentages, ordered by percentage?

[2015-02-24 05:12] Appleguy15 opened #97 "Re-Design Edit_Students"

[2015-02-24 23:19] badtzmaru commented on #20
is this merged? its hard without a pull request

[2015-02-24 23:19] Appleguy15 commented on #20
@badtzmaru No Nic needs to merge.

[2015-02-24 23:20] Appleguy15 commented on #20
It has already been approved.

[2015-02-24 23:20] badtzmaru commented on #96
once i write my function this will be easy

[2015-02-24 23:23] badtzmaru opened #98 "with a small, non mac browser, the top buttons and dropdowns get short"
![bad](https://cloud.githubusercontent.com/assets/6172936/6361618/f96ed2da-bc38-11e4-9edc-45041b4c6c3d.PNG)
![screenshot_2015-02-24-07-36-23](https://cloud.githubusercontent.com/assets/6172936/6361619/f9823b7c-bc38-11e4-97fc-e8d6c6361f25.png)

[2015-02-24 23:25] badtzmaru commented on #31
why is this important? It seems that having the events ordered that way could be quite confusing. Maybe instead of sort by status there should be a dropdown of all the statuses, to only display one at a time?

[2015-02-24 23:35] badtzmaru commented on #20
@nwarmenh

[2015-02-24 23:45] Appleguy15 commented on #96
@badtzmaru Easton is working on this. Remember leaderboards.

[2015-02-24 23:47] badtzmaru commented on #96
leaderboards?

On Tue, Feb 24, 2015 at 3:45 PM, Anthony Reyes <notifications@github.com>
wrote:

[2015-02-25 01:00] nwarmenh commented on #31
Sure, that could work.  I don't think this is a high priority, anyway.  Do
we need a "low priority" tag?

On Tue, Feb 24, 2015 at 3:25 PM, Badtz Maru <notifications@github.com>
wrote:

--
Nic Warmenhoven | Teaching Staff

Puget Sound Community School
660 South Dearborn Street
Seattle, WA 98134

phone | 206.324.4350
web | www.pscs.org

[2015-02-25 01:41] Appleguy15 commented on #98
Also does not work with iPhone:
![fullsizerender](https://cloud.githubusercontent.com/assets/6172938/6363336/6835da3e-bc4c-11e4-8833-563e57ae5377.jpg)

[2015-02-25 01:43] Appleguy15 commented on #96
@badtzmaru Yah we had the idea a long time ago but never got around to actually making them.

[2015-02-25 01:43] Appleguy15 commented on #31
@nwarmenh On it!

[2015-02-25 01:46] #97 closed

[2015-02-25 01:46] Appleguy15 opened #99 "Make Admin 2.0"

[2015-02-25 01:47] Appleguy15 commented on #99
This fill fix #93

[2015-02-25 16:31] Appleguy15 commented on #99
#96 #86 Will both tie into this.

[2015-02-25 16:38] Appleguy15 commented on #94
This is the issue for #100

[2015-02-26 01:04] riverehill commented on #55
I can give it the ol' college try.

[2015-02-26 22:31] #94 closed

[2015-02-26 22:34] #20 closed

[2015-02-26 22:46] badtzmaru opened #101 "write a function to calculate offsite"
copy some of the calculation from view reports into a function

[2015-02-26 22:50] nwarmenh commented on #30
Holding off on this until Anthony wraps up #99...

[2015-02-26 22:59] nwarmenh commented on #40
After some research, I'm actually thinking about **storing these values as full-on timestamps**.  We can still display them to the user as simple HH:MM, in 12-hour AM/PM time, but storing them as timestamps will make comparing them to the event timestamp (which is what we really want to do) easiest.

Not sure what all the issues are in changing the datatype of an existing table column, but it will

[2015-02-26 23:03] badtzmaru commented on #40
well, i dont think that it really matters how its stored in the table, as
long as we can convert it to a php datetime. in theory, pretty much any
format should work as long as it has a am/pm marker of some sort. i have no
idea how to convert the tables but that seems really frightening. also, i
think that "timestamp" is just for the current time in mysql.

On Thu, Feb 26, 2015 at 2:59 PM, Nic Warm

[2015-02-26 23:04] badtzmaru commented on #40
i guess that its not super bad if we are only editing the column that is
for rendering though.

On Thu, Feb 26, 2015 at 3:03 PM, Badtz Maru <badtzmaru139@gmail.com> wrote:

[2015-02-26 23:05] badtzmaru commented on #101
not sure what i should have the function pass out...

[2015-02-26 23:13] badtzmaru commented on #101
ok, for now I'm going to try to make the function pass out an array of all of the information and then we can choose what we need from that. you will pass it an id and it will pass you an array: offsite hours, offsite minutes, offsite per day, percent of offsite used

[2015-02-26 23:15] #78 closed

[2015-02-26 23:30] badtzmaru opened #102 "check out button should not show up for absent people"
and maybe for other statuses
![capture](https://cloud.githubusercontent.com/assets/6172936/6404397/62575530-bdcc-11e4-82c8-e2843a74884c.PNG)

[2015-02-26 23:46] nwarmenh commented on #102
good eye.

[2015-02-26 23:55] nwarmenh commented on #40
My thought is that converting a TIME record to PHP datetime is at least one step harder because there is no date associated with it -- we'd have to tell the datetime constructor how to figure out the date.  Doable, but unnecessarily complicated, IMHO.

TIMESTAMP *can* autopopulate based on the current date & time, but they can also store other times.  They differ from the (SQL) DATETIME only in th

[2015-02-27 00:08] badtzmaru commented on #40
my point was that datetime construct can take just about any format.

On Thu, Feb 26, 2015 at 3:55 PM, Nic Warmenhoven <notifications@github.com>
wrote:

[2015-02-27 02:09] Appleguy15 commented on #102
This is the issue for #104

[2015-02-27 02:18] Appleguy15 commented on #96
@badtzmaru @eastonkugler Who is actually working on this.
Milo or Easton?

[2015-02-27 03:16] badtzmaru commented on #96
I have to write the function so there won't be much for easton to do
On Feb 26, 2015 6:18 PM, "Anthony Reyes" <notifications@github.com> wrote:

[2015-02-27 03:17] Appleguy15 commented on #96
Ok. We still need to make a GUI for it.

[2015-02-27 22:38] Appleguy15 opened #105 "Make for form validation for Checked Out Button"

[2015-02-28 23:05] Appleguy15 commented on #105
This is the issue for #106

[2015-03-01 05:33] Appleguy15 commented on #93
Fixed in admin 2.0

[2015-03-02 17:28] #102 closed

[2015-03-02 17:37] #105 closed

[2015-03-02 17:49] #101 closed

[2015-03-02 17:51] nwarmenh commented on #98
@badtzmaru, can you confirm that #109 has fixed your issue?
@Appleguy15, can you confirm that #109 has fixed your issue?

[2015-03-02 18:27] nwarmenh commented on #40
@Appleguy15:
Here's what needs to be done (on local, not production!):
1. Add column to events table, named tempreturntime, format TIMESTAMP.  This should populate with all zero values.
2. Write function that will run one time and iterate through every row in the events table, which grabs the date from the **(existing) timestamp** column, and the time from the existing returntime column, then puts

[2015-03-02 18:27] badtzmaru opened #111 "datepicker for statusview"
on statusview, make a date/time picker that can display a snapshot of statuses

[2015-03-02 18:35] #98 closed

[2015-03-02 19:49] nwarmenh opened #113 "Validate HTML"
Running the front page through http://validator.w3.org/ generates more than 60 errors.  I believe we could get this down to fewer than 10.

(Some times, in the professional world, a contract will specify that the code to be produced must validate.  Wanna make money?  Time to practice!)

I've only assigned @eastonkugler   because he might be the worst offender of writing nasty HTML.  Anyone can tak

[2015-03-03 19:39] Appleguy15 opened #115 "Cool effects for attendance system"
For example if you type !rain into the offsite textbox that page will start raining for a set amount of time.
-Asher // release a new effect every month.

[2015-03-03 19:54] riverehill commented on #33
made prototype on offsite-tooltip branch

[2015-03-04 16:35] nwarmenh opened #116 "How long should login cookie last?"
@badtzmaru @Appleguy15 @eastonkugler @riverehill

I, for one, get annoyed at having to log in.  I'd like us to debate the merits here of making the login last longer.  A week?  A month?

[2015-03-04 16:37] Appleguy15 commented on #116
@nwarmenh I think it should last two weeks. With that it is still secure but you will not get logged out every six hours.

[2015-03-04 17:25] badtzmaru commented on #116
sure but only for the student login. it could end badly if the admin cookie was super pervasive

[2015-03-04 17:26] #115 closed

[2015-03-04 20:14] nwarmenh commented on #116
Maybe in some dire "real world," but I don't think there is much risk of admin login compromise leading to seriously bad stuff at PSCS...

[2015-03-04 20:53] Appleguy15 commented on #116
@nwarmenh You never know. There could be. :)

[2015-03-05 01:28] Appleguy15 opened #118 "Spam Filter :)"
@badtzmaru Because you wanted it soo bad. :smile:

[2015-03-05 19:27] Jellydo commented on #86
What is this?

[2015-03-05 19:59] Appleguy15 commented on #86
It is a feature that allows groups of students to check out in one click.

On Thursday, March 5, 2015, Jellydo <notifications@github.com> wrote:

[2015-03-05 22:28] eastonkugler commented on #86
who are you
who do you work for
where do you live

[2015-03-05 22:28] nwarmenh commented on #24
Partially addressed by #114

[2015-03-05 23:34] nwarmenh commented on #96
Idea for additional feature: filter for just one advisor's advisees.

(In other words, any advisor can pull up a sub-leaderboard with just their kids.)

[2015-03-05 23:58] badtzmaru commented on #96
Hmm... Does not seem super hard to do but I do think there's a limit on how
many where clauses you can have

[2015-03-06 00:01] Appleguy15 commented on #96
Isn't this leaderboards?

On Thursday, March 5, 2015, Badtz Maru <notifications@github.com> wrote:

[2015-03-06 00:04] badtzmaru commented on #96
Yep

[2015-03-06 03:29] badtzmaru commented on #96
its completed, i manually merged it with admin 2.0 once this is merged close it

[2015-03-06 03:57] badtzmaru commented on #96
![capture](https://cloud.githubusercontent.com/assets/6172936/6520047/e80e485a-c371-11e4-970b-638897d3b718.PNG)

[2015-03-06 03:58] Appleguy15 commented on #96
Nice.

On Thursday, March 5, 2015, Badtz Maru <notifications@github.com> wrote:

[2015-03-07 00:51] Jellydo commented on #86
@Appleguy15 Interesting is this an after school activity?

[2015-03-07 01:04] Appleguy15 commented on #86
@Jellydo http://pscs.org

[2015-03-09 16:12] #33 closed

[2015-03-10 00:11] eastonkugler commented on #47
changed title to include other statistic type things - this is the next thing i will be taking on

[2015-03-10 00:26] Appleguy15 commented on #86
I am still trying to get this to work nicely with Admin 2.0.
Can you update the production database with the latest info? @eastonkugler

[2015-03-10 17:10] nwarmenh commented on #47
I'm excited for this!  I will try to escalate the efforts of the (currently moribund) [design consulting group](https://docs.google.com/a/pscs.org/document/d/1q8Opy4DdSOwCfpuMrcE28cay5bURa46WIIpCIkvb_CM/edit).

[2015-03-10 17:22] #55 closed

[2015-03-11 16:48] badtzmaru commented on #86
@Appleguy15 not sure how the groups stuff is coming along, but it would be awsome if you could get it all working in admin pages 2.0

[2015-03-11 19:36] Appleguy15 commented on #40
@nwarmenh There is a problem where the return time is not stored as 24hrs.

[2015-03-11 19:45] Appleguy15 opened #124 "Every issue In admin 2.0 (for mege)"

[2015-03-11 19:50] #116 closed

[2015-03-11 19:52] Appleguy15 commented on #124
#99
#96
#93
#86
#45

[2015-03-11 19:57] nwarmenh commented on #124
![screen shot 2015-03-11 at 12 56 50 pm](https://cloud.githubusercontent.com/assets/6181191/6605566/31f459fc-c7ee-11e4-84ba-b8221bf2e0ee.png)

[2015-03-11 19:59] nwarmenh commented on #124
Also, in edit groups:

Fatal error: Call to a member function fetch_array() on a non-object in /Users/nwarmenh/Documents/Github repositories/Attendance_System/a/p/edit_groups.php on line 65

[2015-03-12 15:40] Appleguy15 opened #125 "Tab Handling"

[2015-03-12 15:58] riverehill commented on #125
what :-1: ?

[2015-03-12 16:16] Appleguy15 commented on #125
@riverehill When you press tab on the main attendance page the order is not sensible.

[2015-03-12 16:16] riverehill commented on #125
<h1>ye</h1>

[2015-03-12 16:21] Appleguy15 commented on #125
<table>
<th>Anthony</th>
<th>River</th>
  <tr>
    <td>100 points</td>
    <td>2 points</td>
  </tr>
</table>

[2015-03-12 16:26] Appleguy15 opened #126 "Auto Complete Offsite Destination"
read from events.info

[2015-03-12 22:03] eastonkugler commented on #86
Done

[2015-03-12 22:03] #86 closed

[2015-03-12 22:08] nwarmenh commented on #40
Old timepickers have been set to talk 24h!  Events.returntime has been converted to TIMESTAMP.

[2015-03-12 22:08] #40 closed

[2015-03-12 22:13] Appleguy15 opened #128 "Check All check box"
Some way to uncheck all checked check boxes.

[2015-03-13 00:46] Appleguy15 opened #129 "Format code on ALL pages"
Currently a lot of our code is not formatted and looks like s**t.
The code need to formatted so that It is readable and easy to figure out.

[2015-03-13 01:28] Appleguy15 commented on #129
I will address this in #93

[2015-03-13 01:28] #129 closed

[2015-03-14 16:37] badtzmaru commented on #126
this needs ajax i think. we dont have anyone that knows this right now

[2015-03-14 16:40] badtzmaru commented on #124
we really don't need issues like this. can we please just use the pull request for this line of conversation.

[2015-03-14 16:40] #124 closed

[2015-03-14 16:42] badtzmaru commented on #99
according to nic, the broken things are edit groups and a double header call on edit events

[2015-03-14 16:45] badtzmaru commented on #99
also @Appleguy15 @nwarmenh this issue is exactly the example of why we don't need a "complete/pullable" label; we don't know if its pull-able until we test it and if we test it and it doesn't work, then we have to remove all the labels? we should just list the issues that will be closed in the pull request instead of juggling useless labels.

[2015-03-14 16:49] badtzmaru opened #130 "login 3.0 introduced a link that is incorrect"
one of the redirects introduced in login 3.0 is pointing at
![ugg](https://cloud.githubusercontent.com/assets/6172936/6652537/46183be0-ca2f-11e4-97f7-f66d2fe190bc.PNG)
this will not work on windows wamp or production. you cannot have direct links with ports in the link....

[2015-03-14 16:51] badtzmaru commented on #130
lines 16, 20, and 23 of login use direct incorrect links

[2015-03-14 16:51] badtzmaru commented on #130
this makes me unable to use master

[2015-03-14 17:34] Appleguy15 commented on #126
No, this is for the dropdown of offsite locations.
We need something that gets the most popular offsite locations and puts
them into a datalist <http://www.w3schools.com/tags/tag_datalist.asp>.

On Sat, Mar 14, 2015 at 9:37 AM, Badtz Maru <notifications@github.com>
wrote:

[2015-03-14 17:39] Appleguy15 commented on #99
@nwarmenh Admin 2.0 is ready to be merged. @badtzmaru The issues that you brought up above was resolved on Thursday.

[2015-03-16 15:01] badtzmaru opened #133 "Late statuses show time on status view?"
I'm not sure if this is intended or not... If so, what statuses show time?

[2015-03-16 16:38] #130 closed

[2015-03-16 16:43] #133 closed

[2015-03-16 16:44] nwarmenh opened #134 "New return time TIMESTAMP not displaying correctly in edit_events"
Needs a little tweaking to render the data correctly.  Probably also good to check the "edit" functionality, too.

[2015-03-16 17:01] #99 closed

[2015-03-16 17:17] #96 closed

[2015-03-16 17:17] #93 closed

[2015-03-16 17:17] #45 closed

[2015-03-16 17:30] nwarmenh opened #135 "Allow 12-hour clock input in all timepickers"
Times need to be saved to events.returntime as 24-hour now.  We want our users to be able to enter times as 12h clock (e.g., 2:15 pm).  And we want the timepickers to show 12h times.

Could be solved by #30.

[2015-03-16 18:55] riverehill opened #139 "maybe fix edit events css issue?"
<h1>just maybe :pray: <h1>

[2015-03-16 19:35] Appleguy15 commented on #139
All you would have to do is move the edit_events styles from attendance.css to adminpages.css :+1:

[2015-03-17 01:34] Appleguy15 opened #141 "For contextual coloring, what statuses should trigger colors?"
I am working on contextual coloring for the main attendance page and I am wondering what stats should trigger the colors. Late? Offsite?

[2015-03-17 18:08] #141 closed

[2015-03-17 19:01] #128 closed

[2015-03-17 22:47] nwarmenh opened #143 "Offsite stats (leaderboards) not appearing on production"
It's a big blank page.

[2015-03-17 22:48] Appleguy15 commented on #143
I will work in that once I get home.

On Tuesday, March 17, 2015, Nic Warmenhoven <notifications@github.com>
wrote:

[2015-03-18 00:22] Appleguy15 opened #144 "Revamp favorites!"

[2015-03-18 00:50] Appleguy15 commented on #143
@nwarmenh  I need @badtzmaru to fix this one. The problem is with the function "calculateStats" in function.php on line <b><i>453</i></b>. Here is a picture:
![screen shot 2015-03-17 at 5 49 03 pm](https://cloud.githubusercontent.com/assets/6172938/6700621/f8e56252-cccd-11e4-807a-5c7db9b22bb4.png)

[2015-03-18 00:53] badtzmaru commented on #143
It must have been merged incorrectly with groups... I tested it on
production before we added groups...

[2015-03-18 00:59] Appleguy15 commented on #143
@badtzmaru I was testing it on MAMP and it worked until I pulled the updated database from production.

[2015-03-18 14:26] badtzmaru commented on #143
I think its time to change broke this... Maybe view reports is broken as
well?
On Mar 17, 2015 6:17 PM, "Anthony Reyes" <notifications@github.com> wrote:

[2015-03-18 14:28] badtzmaru commented on #143
Hmm. View reports still works and they use the same code... I dont know
what's up with this but I will look at it first slot today...

[2015-03-18 14:30] Appleguy15 commented on #143
Ok.

On Wednesday, March 18, 2015, Badtz Maru <notifications@github.com> wrote:

[2015-03-18 16:14] badtzmaru commented on #143
i think its fixed now. i opened a pull request for the fix.

[2015-03-18 19:37] #143 closed

[2015-03-19 18:04] Appleguy15 commented on #135
@nwarmenh Is this just for the student accessible pages?

[2015-03-19 21:42] badtzmaru opened #150 "remove url rewrites"

[2015-03-19 21:43] badtzmaru commented on #144
any ideas of how to do this?

[2015-03-19 21:57] badtzmaru commented on #126
apparently we already have this

[2015-03-19 21:57] #126 closed

[2015-03-19 22:00] badtzmaru commented on #118
im not sure we want a table of offensive words in our database

[2015-03-19 22:00] #118 closed

[2015-03-20 18:54] Appleguy15 opened #153 ""Select All" button should be admin only."

[2015-03-23 16:47] badtzmaru commented on #31
is the important part the sort by status or the date range? or are they eqal?

[2015-03-23 17:13] #24 closed

[2015-03-23 17:18] badtzmaru opened #156 "clicking the admin button does not work for people with modified path"

[2015-03-23 18:01] #150 closed

[2015-03-23 18:01] #156 closed

[2015-03-23 18:29] badtzmaru opened #158 "timepickers not centered on input boxes"
![github](https://cloud.githubusercontent.com/assets/6172936/6787426/e238bb68-d14f-11e4-83fa-869ac246e049.PNG)

[2015-03-23 20:30] nwarmenh commented on #31
I'd say priority is date range (with appropriately limited data summaries at top), but both are low priority.

[2015-03-24 16:54] badtzmaru opened #159 "when throwing an error, re-populate the text boxes with you put last time, if not invalid"

[2015-03-24 17:02] #73 closed

[2015-03-25 16:15] badtzmaru opened #160 "edit offsite locations admin page"
we need an admin page to edit the options in the dropdown for offsite locations.

[2015-03-25 16:16] badtzmaru commented on #31
now that i know how to write this type of query, as i did with the statusview datepicker, i think that it would be quite easy for me to adapt the query in this one.

[2015-03-25 18:14] badtzmaru commented on #31
@eastonkugler @Appleguy15 are you guys ok with me doing this one?

[2015-03-25 21:01] Appleguy15 commented on #31
Yep all good. :)

On 3/25/15, Badtz Maru <notifications@github.com> wrote:

--

Thanks,

Anthony

[2015-03-26 16:13] badtzmaru opened #161 "datetimepickers dont show up on edit_events"

[2015-03-26 18:29] badtzmaru opened #162 "the code that sets people to not checked in is below the rendering on the main page"

[2015-03-27 16:35] #139 closed

[2015-03-27 16:47] riverehill commented on #158
they're centered for me :yen:

[2015-04-07 18:21] #111 closed

[2015-04-07 18:33] nwarmenh opened #164 "Add return time display to view reports where appropriate"
Now that we have events.returntime set up correctly, let's get it (sensibly) displayed on the view reports listing as well.

Add a fifth column?  Include it in the info column?

Should only show for late, offsite, independent study, and field trip, right?

[2015-04-09 17:47] #158 closed

[2015-04-10 15:53] badtzmaru commented on #162
this is not actually true, its just that mamp lags i think

[2015-04-10 15:53] #162 closed

[2015-04-10 15:54] badtzmaru commented on #144
i am going to close this until the design team gives us some ideas

[2015-04-10 15:54] #144 closed

[2015-04-10 21:33] nwarmenh opened #165 "Bella's view reports keeps breaking"
Milo identified the all-zeroes issue in both events.returntime and events.timestamp.  We clered it up before, but it showed up again this past Wednesday.  Bella signed out to offsite at 11:47 and signed in present at 12:10, but in between were three events with all zeroes.  Bella doesn't remember anything unusual happening at the computer.

![screen shot 2015-04-10 at 2 32 14 pm](https://cloud.git

[2015-04-12 19:21] Appleguy15 commented on #159
@badtzmaru If you want an easy fix you can just use JS alert boxes.

[2015-04-12 19:48] Appleguy15 commented on #160
I am going to make a "Miscellaneous" tab. It will have stuff like:
Offsite Locations
Student/Admin login timeout
offsite return time interval

[2015-04-14 17:54] nwarmenh commented on #153
Can we close this now?

[2015-04-14 18:06] eastonkugler opened #166 "Make better location field"
Make location select a dropdown, and add an option to that dropdown which is "custom".  If you click "custom", a javascript popup appears with a custom text box.  This is to make it more convenient for the user for select a pre-existing location, then to type in a custom one (which may be something like 'waji', wajimoto', 'wajimilo', etc).

[2015-04-14 18:21] nwarmenh commented on #165
Also happened to Chloe Thursday 4/9
![screen shot 2015-04-14 at 11 19 55 am](https://cloud.githubusercontent.com/assets/6181191/7144144/55d913ca-e298-11e4-90d0-2561c45e9e41.png)

[2015-04-14 18:22] nwarmenh commented on #165
Also happened to Ruby Friday 4/10
![screen shot 2015-04-14 at 11 21 34 am](https://cloud.githubusercontent.com/assets/6181191/7144165/7d7b6c5c-e298-11e4-9699-cffdef6267e9.png)

[2015-04-15 16:41] badtzmaru opened #168 "when we merged statusview datepicker into master, we lost the date time picker"
i still have a local copy of the branch and the datetimepicker works, but for some reason it doesn't work in the master branch. I have no idea how the datetimepickers really work or what could be wrong...

[2015-04-15 16:43] badtzmaru commented on #165
i have no idea what could be causing this so i will temporarily kludge it

[2015-04-15 17:14] riverehill opened #170 "some groups don't work & page loads slowly on master branch"

[2015-04-15 21:27] badtzmaru opened #172 "groups does not work on the main page in master branch"

[2015-04-15 21:28] #172 closed

[2015-04-16 18:14] nwarmenh commented on #170
Note that this seems to work great on production, the only errors are on local, and only with mushroomball.

[2015-04-16 18:25] eastonkugler commented on #166
works - location_field branch was just merged

[2015-04-16 18:26] #166 closed

[2015-04-16 18:29] #32 closed

[2015-04-16 21:34] riverehill opened #174 "Rows turn red at incorrect times for all statuses *on production*"
![screen shot 2015-04-16 at 2 33 24 pm](https://cloud.githubusercontent.com/assets/10405269/7191868/925c5bf0-e445-11e4-8022-220f6e155cc9.png)

[2015-04-16 23:20] Appleguy15 commented on #174
That is if they are not back by the time that they put in.

-Anthony

[2015-04-17 01:17] riverehill commented on #174
got it

[2015-04-17 16:19] Appleguy15 opened #175 "Peoples names are pink when they are not checked in or on IS"
This happens even when the time is before 09:00:00(Globals.starttime)

[2015-04-17 18:17] eastonkugler commented on #153
"Ok, I'll do it over the weekend", said Anthony, 3 weeks ago, after Adin accidentally pressed it and signed EVERYONE out to World Pizza.

[2015-04-17 18:26] eastonkugler commented on #153
it works

[2015-04-17 18:26] #153 closed

[2015-04-20 19:00] riverehill commented on #174
jk lol :+1: still an issue

[2015-04-21 16:25] eastonkugler opened #178 ""Select All" button needs confirmation popup"

[2015-04-21 16:55] eastonkugler commented on #178
Works. See "selectall_confirmation" branch.

[2015-04-21 16:55] #178 closed

[2015-04-21 18:07] badtzmaru commented on #174
the red turning stuff is broken on all counts

[2015-04-22 18:28] Appleguy15 commented on #174
This is the same as #175

[2015-04-22 18:28] #175 closed

[2015-04-22 18:29] badtzmaru commented on #174
This title is more clear
 On Apr 22, 2015 11:28 AM, "Anthony Reyes" <notifications@github.com> wrote:

[2015-04-22 21:27] badtzmaru opened #181 "remove duplicate dates on view reports"
there are unnecessarily repeated dates on view reports.

[2015-04-22 21:40] badtzmaru commented on #159
this is not really worth pursuing. I can do it but I don't think that people really need it. i cannot get it to work for the time pickers and the dropdowns are quite difficult as well. Hope this is ok @nwarmenh

[2015-04-22 21:40] #159 closed

[2015-04-23 17:43] #165 closed

[2015-04-23 17:43] #181 closed

[2015-04-23 17:47] #125 closed

[2015-04-23 17:57] riverehill opened #182 "make mobius strip have certain styling on certain pages"
left on index
centered on other

[2015-04-23 17:57] riverehill commented on #182
ill take this on

[2015-04-23 17:57] riverehill commented on #182
k :+1:

[2015-04-23 18:45] riverehill commented on #182
good job river

[2015-04-23 18:45] #182 closed

[2015-04-23 18:53] riverehill opened #185 "holiday css"
having certain css styling on holidays like have snow on the main page around christmas time and things like that.

[2015-04-24 16:18] badtzmaru commented on #170
yes, the seniors and ms groups work fine, but it takes forever for the page to load. I'm unsure if this is only on my wamp or if its for everyone. can anyone reproduce this?

[2015-04-24 16:21] riverehill commented on #170
It happens to everyone

[2015-04-24 16:26] riverehill opened #186 "Make groups admin interface better"
We made a group for food bank and it was too tedious. Make it better yo.

[2015-04-30 19:05] badtzmaru commented on #174
turns out that this is not actually a huge problem because its just the return time that is affected. However, it will really confuse people so we should really get this fixed, in the interest of the users.

[2015-04-30 19:06] badtzmaru commented on #170
this has been merged in "groups fix"

[2015-04-30 19:06] #170 closed

[2015-04-30 19:08] badtzmaru commented on #168
fixed by @nwarmenh  on production, but not in master. I think its just a path fix.

[2015-04-30 19:09] badtzmaru commented on #161
this is the same path issue as in #168

[2015-04-30 19:11] #164 closed

[2015-04-30 23:34] Appleguy15 commented on #174
Working on this now!

[2015-04-30 23:38] Appleguy15 commented on #185
:+1:

[2015-05-01 00:45] Appleguy15 commented on #174
This should be fixed when Nic merges #184

[2015-05-05 18:00] #168 closed

[2015-05-06 17:05] #185 closed

[2015-05-06 17:05] #186 closed

[2015-05-07 17:36] #174 closed

[2015-05-07 18:04] #134 closed

[2015-05-07 18:04] #161 closed

[2015-05-07 18:30] Appleguy15 opened #191 "ADDS"

[2015-05-07 18:30] #191 closed

[2015-05-07 18:46] nwarmenh opened #192 "Status_Red is firing on production when it shouldn't"
I have temporarily commented out that class on production (but not made this change in master).  Meaning that for the time being, all red highlights are gone from production.

Please demonstrate your fix with a ghost file on production before I adopt your change into master.

[2015-05-07 20:10] badtzmaru commented on #30
@Appleguy15 the reason why this is assigned to you is because you made the admin pages and have the code for implementing similar timepickers on the same page.

[2015-05-08 02:01] badtzmaru opened #193 "add a middleschool/highschool column to the studentdata table"
this could be useful for auto-population of groups and the sticker system. I'm giving this to @Appleguy15 because the admin page has to probably be updated as well.

[2015-05-12 04:47] Appleguy15 opened #194 "Ability to sign everyone on from a field trip"
This would be great. For example if there was not a group for a Field Trip then you could sign everyone that is on a field trip with Nic in.

[2015-05-14 17:23] #135 closed

[2015-05-14 17:41] #31 closed

[2015-05-14 17:57] #192 closed

[2015-05-14 17:58] #28 closed

[2015-05-14 18:49] #160 closed

[2015-05-14 18:49] #30 closed

[2015-05-17 02:45] Appleguy15 commented on #193
@badtzmaru What if we had a graduation year column instead? Then I could write a quick function that translates graduate year into grade.

[2015-05-17 05:11] badtzmaru commented on #193
that doesnt work. it would have to be constantly updated with info because
its not always solid whether people will become seniors or not.

On Sat, May 16, 2015 at 7:45 PM, Anthony Reyes <notifications@github.com>
wrote:

[2015-05-17 17:33] Appleguy15 commented on #193
True. Ok

[2015-05-19 05:31] badtzmaru opened #197 "i dont think that the number of IS, etc events is correct for vr sort"
i dont think it shows the numbers for is correctly

[2015-05-19 05:32] #47 closed

[2015-05-19 05:33] badtzmaru commented on #193
all a want is a column called ms thats a Boolean that can be edited through the edit_students page

[2015-05-19 16:21] #197 closed

[2015-05-19 18:07] eastonkugler commented on #194
taking this on

[2015-05-20 17:14] badtzmaru opened #198 "view reports shows expected for absent events"
![bad](https://cloud.githubusercontent.com/assets/6172936/7731954/ef57de8a-fed8-11e4-87a9-ec3a55201afd.PNG)

[2015-05-21 17:58] Appleguy15 opened #200 "Revamp groups admin UI"

[2015-05-21 18:04] badtzmaru opened #201 "Edit Events needs a revamp"
**This is a mega issue explaining all problems with edit events**

* - [ ] needs a sort by system like on view reports
* - [ ] needs a limit by time range gui
* - [ ] mass event editing
* - [ ] mass event deletion

[2015-05-21 18:27] #198 closed

[2015-05-21 18:43] nwarmenh opened #205 "View reports mobile CSS"
Now that the graphs are in there, some mobile-specific CSS needs to happen on the top of view reports.

[2015-05-22 23:21] riverehill commented on #205
You got it chef. 💍

[2015-05-24 04:22] eastonkugler commented on #200
I'll do it - but "fix" is not the right word.  It works just fine.  I think "improve" is the word you're looking for.

[2015-05-24 04:23] eastonkugler opened #206 "Ajax Implementation"
Now that I have the skills, I can do et

[2015-05-24 22:59] #206 closed

[2015-06-02 18:34] nwarmenh opened #208 "Pass student ID to viewreports.php via GET?"
Doing this would allow someone to directly bookmark their reports page, without having to go through the "select a student" page.

[2015-06-02 18:52] eastonkugler commented on #194
it's done... the lumberjack has refused to cut down the branch though... :/

[2015-06-02 19:08] riverehill commented on #194
sory mate :-1: :hankey:

[2015-06-02 20:23] Appleguy15 commented on #208
@nwarmenh We already so that when navigating from your single user interface.

[2015-06-03 17:40] badtzmaru commented on #208
he means for view reports as well

[2015-06-03 20:32] Appleguy15 commented on #208
@badtzmaru I know. We currently use the GET variable when navigating from the single user interface into view reports.

[2015-06-04 17:38] badtzmaru commented on #208
however, its not pervasive and is not set from the dropdown, making it harder for the users to favorite.

[2015-06-04 17:51] Appleguy15 opened #210 "Add edit events log"
This is basically a log of all events. This is for if someone does a mass group sign out you can select all of them at once.

[2015-06-04 17:56] nwarmenh opened #211 "Email notifications"
Lots of different ideas have been tossed around about this:
* Notification whenever a student dips below a certain offsite threshhold
* Notification whenever a student has an unexpected late
* Notification whenever a student is late or absent (parent request)
* Weekly recap (+ YTD overview?) of all events/offsite use (parent request)

Possible audiences:
* students
* advisors
* parents

[2015-06-04 18:00] eastonkugler opened #212 "add custom facilitator box for field trip"
Same way the offsite custom input works - I will start working on it immediatly

[2015-06-04 18:05] nwarmenh opened #213 "Only count a student late when they are actually late"
Right now, in a student's reports, a student's late count will increment by one when the following happens:
* Student notifies the school at (e.g.) 8:50 that they won't be arriving until 9:05
* Student arrives earlier than they expected at 8:58 and signs in as present

In a related case, when a student *doesn't* inform the school that they will be late, but also doesn't show up and sign in until 9

[2015-06-04 18:06] nwarmenh opened #214 ""unexpectedly late" calculations on viewreports.php broken"
All students are showing a zero for that line.  It should either be fixed or the line commented out for now.

See also #213 for a related issue.

[2015-06-04 18:12] eastonkugler commented on #211
This may raise some ethical/philosophical issues; I would like to discuss the ins and outs of how this feature would work.

[2015-06-04 18:13] nwarmenh opened #215 "De-duplication"
Occasionally, a student will have two records that appear to be the same thing. (For example, Isaac is marked as absent twice on May 20.)  This is probably an effect of users pressing the submit button multiple times in quick succession.

Functionally, this can skew the count of absences and lates on viewreports.php.

We should have some kind of de-duplication functionality, either checking new ev

[2015-06-04 18:15] badtzmaru commented on #211
also if the parents need this, to make sure they know when their student is absent or late, do we have to build a parent login for them to be able to edit the notifications they receive? It seems that allowing the students to access this if the problem is with the student not informing the parents of their absence is flawed.

[2015-06-04 18:18] nwarmenh commented on #211
Parents already have access to the reports via the web interface.  This would be an option that could be activated for individual students (probably by admin after student/parent request, in order to eliminate the need for creating additional logins).

Also, parent email addresses could be dynamically generated, since firstnamefamily@pscs.org exists for all students.

[2015-06-04 18:19] badtzmaru commented on #211
ok, I didn't realize that you wanted it to be an admin job.

[2015-06-04 18:21] Appleguy15 commented on #208
@badtzmaru I just tried doing this but it makes the URL look very bad. Have any ideas on how to fix?
![screen shot 2015-06-04 at 11 20 50 am](https://cloud.githubusercontent.com/assets/6172938/7991267/d07fe08c-0aab-11e5-8106-9c78c2e6a94d.png)

[2015-06-04 18:23] badtzmaru commented on #208
if !empty $_POST[studentselect], $_GET[id] = $_POST[studentselect] towards the top of the document inside the if !empty $_POST[submit]

[2015-06-04 18:24] badtzmaru commented on #208
and switch the form back to post

[2015-06-04 18:30] #194 closed

[2015-06-04 18:30] Appleguy15 commented on #208
This works but it is not passing in the URL.

[2015-06-04 18:31] Appleguy15 commented on #211
@badtzmaru The view reports & email bit aren't really an admin job.

[2015-06-04 18:32] badtzmaru commented on #208
ah, thats because you need it to happen before the page reload. thats more difficult than i first imagined.

[2015-06-04 18:35] badtzmaru commented on #208
we look into js bookmark buttons as an alternative. I'm not sure how to modify the url without a page reload. Another option is to split the page into multiple forms and have only the studentselect one be a GET type form

[2015-06-04 18:40] Appleguy15 commented on #208
I will start looking into the bookmark buttons. (Nic's request)

[2015-06-04 18:42] Appleguy15 opened #216 "Re-Write Admin Pages"
This is to be done in a few weeks.

[2015-06-04 18:43] nwarmenh commented on #200
This is referring to groups *admin* UI, right?

[2015-06-04 18:44] Appleguy15 opened #217 "Re-add buttons to admin pages"
As the title suggests.

[2015-06-04 18:46] badtzmaru commented on #211
I feel that the fact that we have to write a feature to inform parents when students skip school is not so much our problem, as the family's. Students are supposed to exercise integrity no?

[2015-06-04 18:47] Appleguy15 opened #218 "Add css to groups that does not flip div"

[2015-06-04 19:00] nwarmenh commented on #211
From an advisor's perspective: I rely on my advisee's whole team (including, often, their parents) to help them surmount whatever challenges they're facing.  In some cases, that is helping a kid get to school on time.  If a parent gets an email when their kid is late, it's easier for them to remember to brainstorm solutions with the student that night -- striking while the iron is hot -- rather th

[2015-06-05 14:38] elikimchi opened #219 "Fix timestamp when going offsite"
@Appleguy15, U know what I'm talkin bout.

AM, PM!

[2015-06-06 19:45] Appleguy15 commented on #200
@nwarmenh Yes.

[2015-06-09 17:51] eastonkugler commented on #212
Worked - waiting for Nic to do et

[2015-06-09 17:54] nwarmenh commented on #219
I saw this on the screen when it happened, but I am unable to reproduce the issue.  How can it be made to happen?

[2015-06-09 21:00] nwarmenh opened #221 "Disallow new events from 15:30 to 23:59"
In going through advisees' attendance records at the end of the year, I have noticed that in some cases, a student will try late in the evening to mark themselves late or absent for the next day, using the main interface instead of the "preplanned events" feature.

How about having it so that when a user tries to change their current status in the evening hours, a popup comes up and explains that

[2015-06-10 15:19] Appleguy15 commented on #211
So is this a go?

[2015-06-11 18:00] riverehill commented on #218
fixed in #222 my man

[2015-06-11 18:01] #218 closed

[2015-06-11 18:02] badtzmaru opened #223 "mobile css sometimes goes to single user with "null" as the name"

[2015-06-18 22:32] nwarmenh opened #224 "Calculate reports data only through globals.enddate"
It appears that view reports acts incorrectly after the completion of school, except for midyear enrollees.

[2015-06-18 22:34] nwarmenh opened #225 "Chart showing relative use of offsite time"
I imagine a second pie chart that shows what proportion of your offsite time is used:
* arriving late (but see #213 and #214 for related issues for counting this)
* checking out early
* being absent
* going offsite mid-day

[2015-06-26 17:46] badtzmaru opened #227 "View reports mobile CSS needs an update"
![screenshot_2015-06-26-10-42-36](https://cloud.githubusercontent.com/assets/6172936/8383672/928525e8-1bf0-11e5-8ead-d9de75279e31.png)

[2015-06-29 07:19] #217 closed

[2015-07-28 10:44] badtzmaru opened #230 "production server is empty??????"
plz

[2015-08-18 03:20] Appleguy15 opened #231 "MS Column??"
Hey, just wanted to check in and see if anyone still needs the MS column....

[2015-08-18 05:25] badtzmaru commented on #231
there is already an issue for this.

[2015-08-18 05:25] #231 closed

[2015-08-18 05:26] badtzmaru commented on #193
if the column is in the database, then it would be nice if @Appleguy15 added a way to edit it on the edit_students page.

[2015-08-18 05:26] Appleguy15 commented on #231
Yes, but my question is do we still need this?

On Monday, August 17, 2015, Badtz Maru <notifications@github.com> wrote:

[2015-08-18 05:26] badtzmaru commented on #231
please discuss it on the open issuse

[2015-08-18 05:27] badtzmaru commented on #193
and yes we do need it. It is low priority but it would be good to have done if you are revamping the admin pages.

[2015-08-25 04:40] Appleguy15 commented on #230
Because no one else is doing anything else about it I will upload from master.

[2015-09-01 19:13] #230 closed

[2015-09-02 19:36] nwarmenh opened #233 "Datepicker start/end hardcoded on view reports"
![image](https://cloud.githubusercontent.com/assets/6181191/9642103/33994208-516f-11e5-930d-0a2cf80ecb04.png)

Even after new school year's start and end dates have been changed in globals, the datepickers for showing specific ranges in view reports are locked to last year's school year.

[2015-09-06 21:01] badtzmaru commented on #233
![nic](https://cloud.githubusercontent.com/assets/6172936/9706620/a7e78844-549f-11e5-8751-f0bb9b7f9320.PNG)
This seems to be the problem. :smile:

[2015-09-06 21:18] badtzmaru commented on #233
This is now fixed in #226 , along with a ton of other important date fixes for the new year.

[2015-09-08 05:43] #233 closed

[2015-09-10 14:58] Appleguy15 opened #234 "Student password not updating"

[2015-09-11 17:38] #215 closed

[2015-09-11 18:09] badtzmaru commented on #219
until this resurfaces, i am closing this issure

[2015-09-11 18:09] #219 closed

[2015-09-11 18:10] #208 closed

[2015-09-11 18:11] badtzmaru commented on #213
closing this in favor of #214

[2015-09-11 18:11] #213 closed

[2015-09-11 18:12] Appleguy15 commented on #211
@nwarmenh Any updates??

[2015-09-11 18:16] badtzmaru commented on #211
I hate the idea that a parent could not trust their student to inform them when they were missing school. This seems to undermine the school's philosophy.

[2015-09-11 18:18] elikimchi commented on #211
@badtzmaru Ditto.

[2015-09-12 19:30] Appleguy15 commented on #201
@badtzmaru What needs to be fixed?

[2015-09-12 20:29] badtzmaru commented on #201
a lot of things like timestamp display, timepicker restrictions, styling, etc.

[2015-09-16 15:51] #224 closed

[2015-09-16 15:52] badtzmaru commented on #221
its more difficult to do this on the main page, but i will do it for the other pages

[2015-09-16 15:53] badtzmaru commented on #221
actually this is very annoying to do because of the regex issues that we had before this. I think its better to simply educate people on how to use preplanned events instead of relying on a strange regex.

[2015-09-16 15:53] #221 closed

[2015-09-16 21:15] Appleguy15 commented on #201
@nwarmenh This kinda seems like your job. You want to give us a departing present?

[2015-09-16 23:51] Appleguy15 opened #236 "Groups icon graphical error"
<img width="39" alt="screen shot 2015-09-16 at 4 50 11 pm" src="https://cloud.githubusercontent.com/assets/6172938/9921512/1f4921e0-5c93-11e5-8f2a-54e4f2dfe131.png">

[2015-09-17 01:09] badtzmaru commented on #236
please check that this is actually in master

[2015-09-17 01:16] Appleguy15 commented on #236
@badtzmaru This currently shows up on production. Checking master

[2015-09-17 01:16] Appleguy15 commented on #236
@badtzmaru Shows up on master.

[2015-09-17 03:35] Appleguy15 opened #238 "Allotted hours does not accept decimal numbers"
The correct number of hours is 137.5 but right now every one just has 137

[2015-09-17 03:36] badtzmaru commented on #238
nope the display is just rounded :P

On 9/16/15, Anthony Reyes <notifications@github.com> wrote:

[2015-09-17 03:37] Appleguy15 commented on #238
@badtzmaru No I mean on the admin allotted hours page. In the database it is stored as an INT which does not accept decimals.

[2015-09-17 03:39] badtzmaru commented on #238
just leave it then, this is not worth the time it would take to fix.
we would have to change the view reports math and any other
calculation math as well as the table format on all running copies of
the system.

On 9/16/15, Anthony Reyes <notifications@github.com> wrote:

[2015-09-17 03:52] Appleguy15 commented on #238
@badtzmaru Tell me if my math is wrong but it looks like view reports is working fine:
<b>(137) Before:</b>
<img width="375" alt="screen shot 2015-09-16 at 8 47 56 pm" src="https://cloud.githubusercontent.com/assets/6172938/9924467/b1306fa2-5cb4-11e5-87b7-7d0656e7954f.png">
<b>(137.5) After:</b>
<img width="356" alt="screen shot 2015-09-16 at 8 48 21 pm" src="https://cloud.githubusercontent.com/as

[2015-09-17 03:53] badtzmaru commented on #238
i meant if we updated the format of the table

On 9/16/15, Anthony Reyes <notifications@github.com> wrote:

[2015-09-17 03:54] Appleguy15 commented on #238
@badtzmaru Thats what I did and it seems to be working normally.

[2015-09-17 03:54] badtzmaru commented on #238
hmmmmmmmmmmmmmm

On 9/16/15, Anthony Reyes <notifications@github.com> wrote:

[2015-09-17 03:55] Appleguy15 commented on #238
@badtzmaru Is there anything that you want me to look at? To see if it broke?

[2015-09-17 03:57] Appleguy15 commented on #238
@badtzmaru I switched from INT to VARCHAR

[2015-09-17 03:57] badtzmaru commented on #238
i will look at it tomorrow

On 9/16/15, Anthony Reyes <notifications@github.com> wrote:

[2015-09-17 03:57] Appleguy15 commented on #238
@badtzmaru Ok sounds good.

[2015-09-21 17:07] badtzmaru commented on #238
the only other problem with this this that we would all have to update the format of the database on the local copies as well as on production. This means that if we want to change it, we had better be :100: % sure that its gonna work because we cannot easily do a dry test.

[2015-09-21 17:11] badtzmaru commented on #238
ok, so I just tested this in my local copy and everything seems to work alright. All I did is change the format of offsite column to float instead of int. This allows a floating point decimal to be stored.

[2015-09-21 17:14] badtzmaru commented on #238
So, while the table format supports the floating point number, edit allotted hours does not support the insertion of anything other than an int because of the query i think.

[2015-09-21 17:33] badtzmaru commented on #238
alright now theres a pull request that fixes this problem.

[2015-09-21 18:07] nwarmenh commented on #201
The likelihood of me actually working on this is close to zero.

[2015-09-21 18:14] riverehill commented on #236
#240 fixed 🍆

[2015-09-21 18:15] #236 closed

[2015-09-21 18:29] badtzmaru commented on #211
ok so this is never gonna happen.

[2015-09-21 18:29] #211 closed

[2015-09-24 20:35] badtzmaru commented on #223
This should be an easy fix. All we should have to do is put an if(!empty($_POST['id'])) around the redirect.

[2015-09-24 20:36] badtzmaru commented on #223
@riverehill, if you are not interested in this, I can probably fix it.

[2015-09-25 17:03] badtzmaru commented on #214
#241 comments out the rendering until I can find out a good way to fix this.

[2015-09-25 17:05] badtzmaru commented on #234
i have fixed this in pull #235

[2015-09-25 17:06] badtzmaru commented on #113
I am gonna close this. I believe that we should just manually do it over time.

[2015-09-25 17:06] #113 closed

[2015-09-25 17:08] badtzmaru commented on #201
how close to zero :question:

[2015-09-25 17:19] badtzmaru commented on #201
I have updated the comment to show all the problems with edit events, it is probably for the best if we divide the work on this one. I think that @Appleguy15 can do most of the css and table column stuff, and I can probably do the time range/sort stuff.

[2015-09-26 18:06] Appleguy15 commented on #201
@badtzmaru That sounds good :+1:

[2015-09-28 21:59] Appleguy15 opened #242 "Field trip groups cannot be signed in if there is a space in the name"
@eastonkugler Get er done.

[2015-09-30 23:20] nwarmenh opened #243 "Datepicker in status view doesn't work"
Everything is grayed out -- I can't pick a historical moment.
![image](https://cloud.githubusercontent.com/assets/6181191/10209338/301d6c40-678f-11e5-98bb-4422d30bcf1f.png)

[2015-10-01 15:46] Appleguy15 commented on #243
@badtzmaru I can make a temp fix for this.

[2015-10-07 16:39] badtzmaru commented on #243
fixed in #244

[2015-10-07 16:40] badtzmaru commented on #227
I think we all know that river is not gonna fix this. @Appleguy15 do you wanna give this a shot?

[2015-10-07 16:42] badtzmaru commented on #238
i have fixed this in #239

[2015-10-07 17:08] riverehill commented on #227
it will happen within 72 hours

On Wed, Oct 7, 2015 at 9:40 AM, Badtz Maru <notifications@github.com> wrote:

[2015-10-07 17:18] badtzmaru commented on #214
gonna close this in favor of a new issue with better wording

[2015-10-08 16:13] riverehill commented on #223
it might be fixed soon

[2015-10-12 16:45] #243 closed

[2015-10-12 16:46] #234 closed

[2015-10-12 16:46] #238 closed

[2015-10-12 17:39] Appleguy15 opened #245 "FIX YOUR ISSUES!!!!"
@eastonkugler GET ER DONE!!!!!!

[2015-10-13 14:41] badtzmaru commented on #245
this is useless

[2015-10-13 14:41] #245 closed

[2015-10-13 14:41] badtzmaru commented on #223
@riverehill are you gonna do this or should i?

[2015-10-13 14:42] badtzmaru commented on #200
@Appleguy15 maybe you should just group this in with admin 3.0

[2015-10-13 15:03] Appleguy15 commented on #200
I can make the CSS look nicer but I think it is @eastonkugler 's job make a functional design.

[2015-10-13 15:22] Appleguy15 commented on #210
This is too far fetched.

[2015-10-13 15:36] Appleguy15 commented on #193
@badtzmaru Who do you envision updating this? I don't think any staff members would want to.

[2015-10-13 16:16] badtzmaru commented on #210
no its not its super easy you are just lazy

[2015-10-13 17:45] Appleguy15 commented on #210
@badtzmaru Ok, so what is your vision for this? I just can't see it helping that much.

[2015-10-14 20:57] Appleguy15 opened #246 "Mass event editing"
Example:
Sign everyone back in from retreat.

[2015-10-14 21:00] #246 closed

[2015-10-14 21:43] elikimchi opened #247 "Offsite Groups"
Like field trip groups, but when multiple people are selected and go offsite it shows up.

[2015-10-14 21:44] badtzmaru commented on #247
no this is bad, too many groups would break this

On Wed, Oct 14, 2015 at 2:43 PM, Eli Kimchi <notifications@github.com>
wrote:

[2015-10-14 21:45] elikimchi commented on #247
milo pay attention to your teacher

[2015-10-14 21:48] badtzmaru commented on #247
eli, u peen

On Wed, Oct 14, 2015 at 2:45 PM, Eli Kimchi <notifications@github.com>
wrote:

[2015-10-14 21:50] elikimchi commented on #247
shut up

[2015-10-26 18:30] Appleguy15 opened #248 "Offsite can return AM times"

[2015-10-29 21:39] badtzmaru commented on #227
Its been a bit longer than that. Still interested?

[2015-10-29 21:39] badtzmaru commented on #227
@riverehill

[2015-10-29 21:40] riverehill commented on #227
gimme 30 min <3

[2015-10-29 21:41] badtzmaru commented on #248
this is fine, just as long as in the rendering it does not render as 1 am but 1 pm. @Appleguy15 has already done this once in his red lines on the main page for late people so I think he should take it on.

[2015-10-29 21:42] #247 closed

[2015-10-29 21:46] badtzmaru commented on #223
also dis

[2015-10-29 21:46] badtzmaru commented on #223
@riverehill

[2015-10-29 21:52] eastonkugler commented on #247
eli what in the seven hells gave you this idea

[2015-10-29 21:52] eastonkugler commented on #247
@elikimchi

[2015-10-29 21:54] Appleguy15 commented on #247
Lmao

On Thu, Oct 29, 2015 at 2:52 PM, eastonkugler <notifications@github.com>
wrote:

[2015-10-29 21:57] badtzmaru commented on #248
u got dis boyyy

[2015-10-29 22:14] Appleguy15 commented on #248
@badtzmaru I'm gonna look into this. Hasn't been doing it recently.

[2015-10-29 22:14] badtzmaru commented on #248
please do

On Thu, Oct 29, 2015 at 3:14 PM, Anthony <notifications@github.com> wrote:

[2015-10-30 17:13] eastonkugler commented on #200
as a matter of fact it works just fine as it is

@Appleguy15
@badtzmaru
@nwarmenh

[2015-10-30 17:14] badtzmaru commented on #200
you should hold true to that promise of improvement

[2015-10-30 17:15] eastonkugler commented on #200
fuck off prude i dont take no orders

[2015-10-30 18:10] badtzmaru commented on #201
pull #250 closes a few of these problems

[2015-10-30 18:15] Appleguy15 commented on #200
Your should. It's really bad.

[2015-11-02 18:06] riverehill commented on #227
Working in ballard/crown-hill-general-area-css branch 🆓

![unnamed](https://cloud.githubusercontent.com/assets/10405269/10889836/2e07361a-8149-11e5-9df4-544b06b1b3b4.png)

[2015-11-02 18:29] #205 closed

[2015-11-02 20:13] riverehill commented on #227
#254

[2015-11-03 00:41] Appleguy15 commented on #227
This has been merged. Closing

[2015-11-03 00:41] #227 closed

[2015-11-03 00:41] Appleguy15 commented on #248
This seems to be working properly now. Closing issue.

[2015-11-03 00:41] #248 closed

[2015-11-03 00:42] Appleguy15 commented on #223
This was fixed in the Ballard CSS merge. Closing issue.

[2015-11-03 00:42] #223 closed

[2015-11-03 00:44] badtzmaru commented on #201
alright i have updated the desc of this issue to reflect current problems

[2015-11-03 00:45] badtzmaru opened #257 "add percentages to status view"
next to the name of each status, it should say the percentage of students signed out to that status.

[2015-11-03 00:46] badtzmaru opened #258 "Remove Duplicate events"
Andy has informed us that sometimes students re-submit the forms and we get duplicated events for them. He would like them to be removed. @Appleguy15 and I have discussed this and feel that it would work best to have this function run at the top of view reports.

[2015-11-03 00:47] badtzmaru commented on #210
you are right, as long as there is a popup warning them about what is about to happen this is unnecessary.

[2015-11-03 00:47] #210 closed

[2015-11-03 00:49] Appleguy15 commented on #210
@badtzmaru Yep I can work on that in a bit.

[2015-11-03 01:08] Appleguy15 commented on #216
This is coming, does not need an issue right now.

[2015-11-03 01:09] badtzmaru commented on #216
it is  not done, it needs an issue

[2015-11-03 01:41] badtzmaru commented on #193
sam

[2015-11-03 01:41] riverehill commented on #227
Something got messed up up in you're merges. My fix got removed.

![screen shot 2015-11-02 at 5 37 05 pm](https://cloud.githubusercontent.com/assets/10405269/10899376/e8098236-8188-11e5-8863-65c43b96f02c.png)

[2015-11-03 01:44] badtzmaru commented on #227
what branch was this in

[2015-11-03 01:45] riverehill commented on #227
ballard/crown-hill-general-area-css

[2015-11-03 01:46] riverehill commented on #227
Oh, that screenshot is on production

[2015-11-03 01:46] badtzmaru commented on #227
so i am assuming this was in header.php?

[2015-11-03 23:14] #200 closed

[2015-11-04 16:47] #258 closed

[2015-11-04 16:48] #257 closed

[2015-11-04 23:37] nwarmenh opened #264 "Pre-planned events over weekends"
The attached screenshot shows the error message thrown when I entered Shane as on independent study from Thurs Nov 5 through Mon Nov 9.

![image](https://cloud.githubusercontent.com/assets/6181191/10955589/c5953952-8309-11e5-91dd-ee56d433a522.png)

Seems to me that, ideally, it wouldn't throw an error here.

Low priority, but maybe Milo knows how to fix it in a heartbeat.

[2015-11-05 16:53] badtzmaru commented on #264
this works completely as intended, I wanted them to be aware of why those days were not pre planned

[2015-11-05 16:54] #264 closed

[2015-11-05 22:41] #216 closed

[2015-11-05 22:43] badtzmaru opened #266 "it is possible to sign out to 1 am"

[2015-11-06 17:22] badtzmaru opened #267 "make the clock js"

[2015-11-06 17:37] #266 closed

[2015-11-06 18:55] badtzmaru commented on #201
fixed a lot of the smaller problems with edit events and updated the desc to reflect it

[2015-11-06 22:39] eastonkugler commented on #193
fixed with #268

[2015-11-06 22:39] #193 closed

[2015-11-12 21:05] Appleguy15 opened #269 "Global CSS"
Yall know what dis is.

[2015-11-12 21:47] badtzmaru commented on #267
hurry up @Appleguy15

[2015-11-20 17:55] eastonkugler commented on #212
god damnit

[2015-11-30 20:33] badtzmaru commented on #267
@Appleguy15 I really don't think that we need to have the seconds shown and I dont think that the clock should show up if its not within 10 mins of the end of school

[2015-12-04 22:58] nwarmenh opened #272 "Return time still showing as AM"
![image](https://cloud.githubusercontent.com/assets/6181191/11603556/6c65ce78-9a97-11e5-83b3-66fdb92889d6.png)

[2015-12-06 01:04] Appleguy15 opened #273 "Opinions on Admin Page Color? (Here is a pic of what I have)"
<b> @badtzmaru @eastonkugler any opinions?</b>
This is the current color scheme I have:
<img width="1273" alt="screen shot 2015-12-05 at 5 01 04 pm" src="https://cloud.githubusercontent.com/assets/6172938/11611120/173970b8-9b72-11e5-8849-34e0613f388a.png">

[2015-12-06 01:18] Appleguy15 commented on #273
Just updated design. (Made background full white)
<img width="1271" alt="screen shot 2015-12-05 at 5 17 08 pm" src="https://cloud.githubusercontent.com/assets/6172938/11611168/27aad3fe-9b74-11e5-98f1-64c640471bd8.png">

[2015-12-07 06:50] badtzmaru commented on #273
eww

[2015-12-18 16:26] Appleguy15 opened #274 "Random Checked Out Events?"
Everyday at <b>8:11 AM</b> a random person in the attendance system is checked out. Sam says this had been happening for over a month. @eastonkugler @badtzmaru Do you guys know what could be causing this?

[2016-01-20 03:38] #273 closed

[2016-01-25 05:38] badtzmaru opened #275 "minor css problems on view reports"
![github](https://cloud.githubusercontent.com/assets/6172936/12543287/cfff783a-c2e2-11e5-96a5-3742b7635aa5.png)

[2016-02-08 19:31] Appleguy15 commented on #274
Solves Itself

[2016-02-08 19:31] #274 closed

[2016-02-08 19:32] #269 closed

[2016-02-22 18:09] nwarmenh opened #276 "Make names on offsite stats (leaderboard) link to student report page"
I had the experience of looking at the leaderboard and wanting to click directly through to a student's extended report.

[2016-04-25 16:43] badtzmaru opened #277 "Data wraps around on statusview"
I hate this: https://i.imgur.com/JnrA5Dk.png

[2016-09-02 18:48] Appleguy15 opened #278 "3:40"

[2016-10-11 03:00] #278 closed

[2016-10-11 03:01] #277 closed

[2016-10-11 03:01] #201 closed

[2016-10-11 03:03] Appleguy15 commented on #225
@badtzmaru This is your area of expertise. Have fun  :)

[2016-10-11 03:03] #275 closed

[2017-05-05 19:39] nwarmenh opened #279 "Confirmation emails?"
Feature idea suggested after a pre-planned event failed to "take" --
Send user a confirmation email receipt after they submit a pre-planned event? Send them one every day they have a pre-planned event?

[2017-05-08 05:09] badtzmaru commented on #279
It seems that the correct form of action would be to simply inform students of how to use the system correctly, something which I'm sure same would be more that willing to do.

[2017-09-13 06:09] Appleguy15 opened #282 "Present buttons don't work on mobile"
While using the attendance system mobile interface, if you select a student's name using the checkbox, then click the navbar "Present" button, the page refreshes but the student(s) do not get signed in.

[2017-09-13 18:53] badtzmaru commented on #282
Really? This is a pretty big issue.

[2017-09-13 18:58] badtzmaru opened #283 "Click through to view reports from status view"
It would be very helpful if you could click on someones name on status view and it would open their view reports. This should be very easy.

[2017-09-13 20:53] badtzmaru commented on #283
addressed in #284

[2017-09-29 22:02] nwarmenh opened #285 "Offsite signout allowed without return time?"
Looks like some error handling on the front page is broken. I can click a checkbox next to a student's name, choose an offsite location from the dropdown, enter **no** return time, and it will successfully sign them out to offsite, instead of throwing an error.

Seems to me it should throw an error? See line 128 et seq of index.php.

[2017-09-29 22:03] badtzmaru commented on #285
I'll look into it.

[2017-09-29 23:12] badtzmaru commented on #285
I found the culprit 🤔

![hm](https://i.imgur.com/lCyjufw.png)

[2017-09-29 23:57] badtzmaru commented on #285
fixed in #286

[2017-09-29 23:57] #285 closed

[2017-09-29 23:57] badtzmaru commented on #272
Fixed in #286

[2017-09-29 23:57] #272 closed

[2017-09-29 23:58] badtzmaru commented on #283
Fixed in #284

[2017-09-29 23:58] #283 closed

[2017-09-30 00:13] badtzmaru commented on #276
Fixed in #287

[2017-09-30 00:13] #276 closed

[2017-09-30 00:21] badtzmaru commented on #282
Closed in #288

[2017-09-30 00:21] #282 closed

[2017-09-30 01:23] badtzmaru commented on #242
Fixed in #289

[2017-09-30 01:23] #242 closed

[2017-10-02 19:57] badtzmaru commented on #279
The reason I haven't made this already is that I have no viable way of testing this as MAMP/WAMP don't have built in mail servers.

[2017-10-02 19:57] #279 closed

[2017-10-06 20:47] Appleguy15 commented on #267
@badtzmaru Haven't done this yet, and prob won't get to it... I will make a better version in Proyecto Isla.

[2017-10-06 20:47] #267 closed

[2017-10-17 17:29] Appleguy15 opened #290 "Login form not recognizing "!""
If you type in the attendance system password, without the "!" symbol, you will still get signed in. Even though that is the wrong password.

[2017-10-17 18:09] badtzmaru commented on #290
Why is this my problem? You wrote the login, I don't even know how it works!

[2017-10-17 18:10] nwarmenh commented on #290
Something to do with the safeguards we put in against injection?

[2017-10-23 18:05] badtzmaru opened #291 "Timestamps are still incorrect!?"
When people sign out with the timepicker, they can be signed out to outside of school hours?
Why tf is this still happening?!
https://i.imgur.com/i9BMptP.png

[2017-11-16 18:42] nwarmenh opened #292 "Funny start-of-day behavior"
Tim has now come to me a few times reporting unusual things happening at the start of the day when he first opens the attendance laptop and sets it up in the entry area. Today, he found that Shane automatically got checked in as present at that time.

I looked at the DB, and here's what I found:
![screen shot 2017-11-16 at 10 26 11 am](https://user-images.githubusercontent.com/6181191/32908676-1ca

[2017-11-16 19:04] badtzmaru commented on #292
Is this only happening to Shane?

[2017-11-16 19:07] badtzmaru commented on #292
@nwarmenh Is there a possibility that this is form re submission? Either on the check-in computer or Shane's personal device? Has this happened to Shane multiple times? Is it always happening at the same time?

[2017-11-16 19:08] nwarmenh commented on #292
Unfortunately, I haven't documented in this same way the other morning glitches Tim has reported. One time I remember it was that one single person was marked absent. Perhaps they had somehow clicked checked out after 3:40 the day before?
Another time, there were 5 or 6 people marked present upon the opening of the laptop.

[2017-11-16 19:09] badtzmaru commented on #292
But it's always when the laptop is opened?

[2017-11-16 19:11] nwarmenh commented on #292
Seems to be, yes. That suggests that your form-resubmission thing is a likely culprit, eh?

[2017-11-16 19:13] badtzmaru commented on #292
Well only if Tim is refreshing it and pressing 'Continue'

[2017-11-16 19:18] badtzmaru commented on #292
[This](https://stackoverflow.com/a/6834672) should work as a quick fix.

[2017-11-16 19:18] nwarmenh commented on #292
Righto! I went and talked to him and it seems like that's what might be happening. I told him to reload the page in the morning by re-entering the URL, rather than using the refresh button.

[2017-11-16 19:38] badtzmaru commented on #292
fixed in #293

[2017-12-16 19:54] #292 closed

[2018-01-08 19:11] Appleguy15 opened #295 "Show IS return time on status view"
In Web App class today, Tim mentioned that it would be really nice if you could see the return time next to a student's name when looking at the status view. Also, sort that list by time arriving.

[2018-01-08 20:26] badtzmaru commented on #295
Are you really sure that we should do this? It seems kinda against the point of the status view page, as it is meant to be a simple interface where you can just see where students are at a glance. I don't understand why Tim wouldn't just use the main page if he wanted to see the returntimes. Any extra info on this @nwarmenh ?

[2018-01-08 20:40] badtzmaru opened #296 "add a login timeout"
If someone enters the password wrong a certain number of times, they should be blocked from attempting to log in for a length of time. Right now the login field is able to be brute forced.

We should also add the 'incorrect password' text as a popup on the login page instead of it being a second unstyled page without a redirect or back button.

[2018-01-08 20:41] badtzmaru commented on #290
I looked into this a bit, and it seems that the method of encryption that we use doesn't support special characters, so when we encrypt the password, it doesn't matter how many special characters there are, they all get stripped out. I don't really think this is big enough of an issue for us to redo the login so we can have an exclamation point.

[2018-01-08 20:41] #290 closed

[2018-01-08 20:43] nwarmenh commented on #295
Doesn't seem like a problem to do it the way Tim wants it, all other things being equal. He's the one that uses it, at any rate. Not exactly a high priority, though...

[2018-01-08 20:46] badtzmaru commented on #295
Maybe if we made it so that when you hover it shows the return time instead? Or have a setting to turn it on? It seems like we are being asked for another stylesheet of the main page.

[2018-01-08 20:49] badtzmaru commented on #295
Oh nevermind, I see what you are referring to. For some reason I thought there were no return times on there already and I thought that it would be too cluttered. It should be simple enough to add returntimes for independent study, but the sorting part may be more difficult as the page refreshes itself and we would want the sorting to be pervasive.

[2018-01-08 20:57] badtzmaru commented on #295
Independent study return time now displays in #297

[2018-01-10 20:09] nwarmenh opened #298 "Midyear-enrolled new student offsite not calculating correctly"
New student Ryan (enrolled 11/28/17) does not appear to have the correct amount of offsite being allotted to him.
Note that he appears to be entered correctly in the system:
![image](https://user-images.githubusercontent.com/6181191/34792960-a1cb2c1a-f5fe-11e7-82af-8e69ed8e360a.png)
As a student who came before the midpoint in the year, he should receive more than half the base amount of offsite t

[2018-01-10 20:14] nwarmenh commented on #298
Is this an issue that we kludged in the past using the allotted hours table? (i.e. set the midyear to "8th year" and set the 8th year hours to the appropriate kludgey values?) It's been so long since I can remember dealing with a midyear...

[2018-01-10 20:18] badtzmaru commented on #298
It is supposed to correctly calculate the midyear offsite automatically. I'll look into it.

[2018-01-10 20:18] badtzmaru commented on #298
It is supposed to correctly calculate the midyear offsite automatically. I'll look into it.

[2018-01-27 01:30] badtzmaru commented on #296
@nwarmenh I've been working on implementing this, would it be good if I added variables to globals so the staff can edit the number of tries people have to get the password, and the amount of time it should time them out for? I'm somewhat wary of modifying the database design at this stage.

[2018-01-27 02:42] #295 closed

[2018-01-27 02:43] #291 closed

[2018-01-27 02:44] badtzmaru commented on #214
This is super broken right now, I'll look into fixing it.

[2018-01-28 01:32] badtzmaru commented on #214
I can see why this is an issue. This is how we were counting the unexpected lates before. https://i.imgur.com/zsIIeO2.png

[2018-01-28 02:58] badtzmaru commented on #214
Fixed in #301

[2018-01-28 06:42] #298 closed

[2018-01-28 06:42] #214 closed

[2018-01-28 07:08] nwarmenh commented on #296
Given that we've just recently decided to develop a new system from scratch, it seems to me all non-bug-fixes to this version are low priority. (That of course assumes that the new system will actually get completed, which has yet to be established...)

In any case, I'd say no at this point to your suggested security-minded DB table modifications. Go ahead and hard-code some reasonable defaults, i

[2018-01-28 07:09] badtzmaru commented on #296
I already hardcoded in some times, 5 wrong attempts = 15 min timeout.

[2018-01-28 07:10] badtzmaru commented on #296
I'm pretty sure that it works, I was just hoping to get a few more eyes on the code before merging it.

[2018-01-28 07:55] #296 closed

[2018-01-28 08:02] badtzmaru opened #302 "add a public changelog"
I think it would be pretty cool to have a little changelog button on the mainpage that would show the recent changes to the attendance system. It's something we have been talking about for a long time.

[2018-03-05 22:55] areyess opened #304 "Ryan N's view reports not working"
Ryan's view reports are not showing up. #eazygameeazylife

[2018-03-05 23:06] badtzmaru commented on #304
Closed in #305

[2018-03-05 23:06] #304 closed